body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    font-family: cursive;
    scroll-behavior: smooth;
}

.main-container{
    max-width: 550px;
    padding: 4%;
    opacity: 1;
    transition: opacity 1s;
}

.main-container img{
    max-width: 100%;
    margin-bottom: 15px;

}
.main-container h1 , p{
    color: white;
}
.main-container h1{
    font-size: 2.5rem;
    font-weight: 800;
}
.main-container p{
    margin: 5% 0;
}
.btn{
    background-color: #fff;
    padding: 3% 2%;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    background-color: orange;
    transition: 0.3s ease-in-out;
}
.active.trailer-container {
    visibility: hidden;
    opacity: 0;
}

.trailer-container{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   background-color: black;
    opacity: 1;
    transition: opacity 0.4s;
}
.trailer-container video{
    box-sizing: border-box;
    position: relative;
    max-width: 600px;
    max-height: 95%;
    
     outline: none;

}

.close{
    position: absolute;
    top: 5%;
    right: 30px;
    color: white;
    cursor: pointer;
}
@media (max-width: 991px) {
    .trailer-container video{
        max-width: 90%;
    }
    .close{
        max-width: 90%;
        font-size: 150%;
    }
}
@media (max-width: 430px){
    .close{
        top: 10%;
    }
}
